.container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
}

.container > div > img {
  width: 80%;
  height: 60%;
  object-fit: contain;
}