.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  height: 80px;
  padding: 20px;
  color: #277872;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #277872;
}

.publish-button{
  color: white;
  background: #277872;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  text-transform: uppercase;
}

.header-left-container{
  display: flex;
  text-align: left;
}

.header-right-container{
  display: flex;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.content {
  padding-bottom: 5%;
}
