.post-item{
  background: #8B9996;
  width:80%;
  margin:0 auto;
  padding:25px;
  margin-bottom:20px;
  box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 2fr));
}

.left-container{
  background-color: #D7E7E7;
  display: inherit;
  horiz-align: center;
  padding: 10px;
}

.right-container{
  background-color: #D7E7E7;
  padding: 10px;
  text-align: center;
}

.button-container{
  display: grid;
}

.post-image{
  width: 100%;
  object-fit: contain;
  max-height: 90%;
}

.confirmation-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cancel-button{
  color: white;
  background: rgba(68, 82, 107, 0.34);
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.post-edit{
  color: white;
  background: #0099CC;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.post-delete{
  color: white;
  background: #cc4c3d;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

